@model IEnumerable<Payroll.ViewModel.EmployeeSalaryViewModel>


@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.SalaryComponentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryComponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalValue)
        </td>
        <td>
            <button type="button" class="btn btn-default btn-danger btn-remove">
                Remove
            </button>
        </td>
    </tr>
}

